@model IEnumerable<DemoRobot.Models.horario>

<br />
<h2>Horarios Listado</h2>
<hr />

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @*<th>Hora Inicio</th>*@
        <th>
            
            @Html.DisplayNameFor(model => model.hora_inicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hora_fin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.l)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.m)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.x)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.j)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.v)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.s)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.d)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tarea.nombre_tarea)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.hora_inicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hora_fin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.l)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.m)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.x)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.j)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.v)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.s)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.d)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tarea.nombre_tarea)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id_horario }) |
                @Html.ActionLink("Details", "Details", new { id = item.id_horario }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id_horario })
            </td>
        </tr>
    }

</table>
