@model IEnumerable<DemoRobot.Models.robot>

@{
    ViewBag.Title = "Index";
}

<h2>Robot Listado</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre del Robot
        </th>
        <th> 
            Estado
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_robot)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_robot }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_robot }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_robot })
        </td>
    </tr>
}

</table>
